
<div class="jumbotron">
	<h1>Welcome to my app! yeah man</h1>
	<p> Click to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>.</p>
	<p>Find me in app/views/pages/home.html.erb</p>
</div>
